.body
{
	margin: 0;
	padding: 0;
	background-color: blue ;
	background-size: cover;
	font-family: sans-serif;
}
.Login_Page
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:350px;
	height: 420px;
	padding:80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5) ;
}	