body *
{
	margin: 10;
	padding: 0;
	font-family: sans-serif;
}
.Sign-Up-Page
{
	height: 350px;
	width: 300px;
	box-shadow: 0 0 0px 0 rgba (0,0,0,0.3);
	background:rgb(228, 125, 228);
	padding-top:40px ;
	margin: 8% auto 0;
	text-align: center;
}
.input-box
{
	height: 40px;
	margin: 10px;
}
.btn
{
	height: 40px;
	width: 80px;
	background-color: green;
	color: white;
}
h1
{
	color: maroon;
}